{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.admin.designation %}
<style>
    h3{
    padding: 15px;
    padding-left: 7pxpx;
        border-left: 5px solid black;
        background-color: rgb(241, 41, 41);
        color: white;
        margin-bottom: 30px
    }
    .button {
        background-color: rgb(241, 41, 41)
    }
</style>    
{% include 'grievance/adminsidebar.html' %}
{% else %}
<style>
    h3{
    padding: 15px;
    padding-left: 7pxpx;
        border-left: 5px solid black;
        background-color: royalblue;
        color: white;
        margin-bottom: 30px
    }
    .button {
        background-color: royalblue
    }
</style>    
{% include 'grievance/studentsidebar.html' %}
{% endif %}

<div class="content" style="font-family: 'Times New Roman', Times, serif;">
        <h3 class="button1" style="letter-spacing: 1px">&#9679; Change Password:</h3>
        <div class='container'>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
        <button type="submit" class="button button2">Change Password</button>
    </form>
    </div>    
</div>
{% endblock content %}